/* CSS reset */
/* 載入字型 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
  font-family: "Noto Sans TC", sans-serif; /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}
p {
  margin: 0;
}
ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; /* 拿掉底線 */
  color: black;
}

.container {
  width: 100%;
}

/* project */

/* header */
header {
  position: fixed;
  padding: 1rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 60px auto 60px 60px;
  gap: 1rem;
}

.type-choose {
  display: none;
}
.nav-search-img,
.nav-like-img,
.nav-cart-img,
.brand-logo {
  height: 50px;
  width: 50px;
}

.nav-search {
  grid-column: 1/2;
}
.nav-search-big {
  display: none;
}
.nav-brand {
  grid-column: 2/3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.brand-name {
  margin-left: 15px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-justify: center;
}

.nav-like {
  grid-column: 3/4;
}
.nav-cart {
  grid-column: 4/5;
}

/* seletion bar */
.selection-wrapper {
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  gap: 0.25rem 0.5rem;
  grid-template-areas:
    "text text"
    "size color"
    "sort sort";
  justify-items: center;
}
.select-text {
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  grid-area: text;
  margin-bottom: 1.5rem;
}
#select-size,
#select-color,
#select-sort {
  margin: 0.5rem 1.5rem;
  height: 60px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem;
}

#select-size {
  width: 85%;
  grid-area: size;
}
#select-color {
  width: 85%;
  grid-area: color;
}

#select-sort {
  width: 42.5%;
  grid-area: sort;
}

/* big screen */
@media screen and (min-width: 600px) {
  /* seletion bar */
  .selection-wrapper {
    width: 100%;
    grid-template-columns: 1fr repeat(3, minmax(150px, 250px)) 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    gap: 1.5rem 0rem;
  }
  .select-text {
    grid-column: 2/5;
    grid-row: 1/2;
    font-size: 2.5rem;
  }
  #select-size {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #select-color {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #select-sort {
    width: 85%;
    grid-column: 4/5;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 960px) {
  /* header */
  header {
    grid-template-columns: 350px auto 40px 40px 40px;
    gap: 2rem;
  }
  .nav-search-big-img,
  .nav-like-img,
  .nav-cart-img,
  .brand-logo {
    height: 40px;
    width: 40px;
  }
  .nav-brand {
    grid-column: 1/2;
  }
  .nav-brand-name {
    text-align: center;
  }
  .type-choose {
    width: 80%;
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(3, auto);
    align-content: center;
  }
  .type-men,
  .type-women,
  .type-kids {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 550;
    letter-spacing: 2px;
  }

  .nav-search {
    display: none;
  }
  .nav-search-big {
    display: block;
    grid-column: 3/4;
  }
  .nav-like {
    grid-column: 4/5;
  }
  .nav-cart {
    grid-column: 5/6;
  }
}
